@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Dancing+Script&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width:100%;
    opacity: 0.9;
}
header li{
    float: right;
    font-size: 1.2em;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
header b:hover{
    color: rgb(108, 108, 243);
    cursor: pointer;
}

#ImagesPrincipales{
    padding-top: 60px;
    background: url(images/ImagePrincipale.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 500px;
    background-size: cover;
}
h1{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    color: black;
    font-size: 6em;
    margin-top: 40px;
    text-shadow: 5px 3px 6px white;
}
#PremierTrait{
    height: 2px;
    width: 25%;
    margin: -3px auto;
    background-color: black;
    text-shadow: 1px 3px 2px black;
}
h3{
    text-align: center;
    color: gold;
    font-size: 4em;
    text-shadow: 0px 0px 15px black;
}

#Presentation{
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0;
}
#TexteIntro{
    padding: 0px 20px;
}
#Prestations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 10%;
}
.ImagesPrestations h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: 300;
    font-size: 1.8em;
    margin: 15px;
}
.ImagesPrestations img{
    border-radius: 10px;
    box-shadow: 5px 4px 5px 4px black;
}
.ImagesPrestations img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

#Tourisme{
    height: 900px;
    background-color: #F1F2F6;
    padding: 1px 2%;
}
#Tourisme h2{
    padding-top: 60px;
}
#Montagnes{
    background: url(images/montagnes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Nature{
    background: url(images/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Tourisme li{
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px black;
}
#Tourisme p{
    height: 45px;
    width: 235px;
    background-color: aqua;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px green;
}
#Tourisme #Nature{
    float: right;
}
#Nature p{
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px green;
}

footer{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;

}
input, textarea, button, select{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea{
    height: 120px;
}
button{
    font-size: 1.5em;
    background-color: aqua;
}
button:hover{
    background-color: black;
    color: aqua;
    cursor: pointer;
}
#DeuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#icons a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.9em;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.1s;
}
select:hover{
    color: grey;
    cursor: pointer;
}